<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="localhost_(localdb)\mssqllocaldb_Connection" connectionString="XpoProvider=MSSqlServer;data source=(localdb)\mssqllocaldb;integrated security=SSPI;initial catalog=DX_Teszt" />
    </connectionStrings>
</configuration>